@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

body{
    @apply h-screen w-screen overflow-hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

